<div class="hero-image">
    <div class="container hero-text">
      <h1>Contact Us</h1>
      <p>The RDMS Team</p>
    </div>
</div>
<!--end of hero section-->
<div class="container">
    <!--Section: Contact v.2-->
<section class="mb-4 ">
    <!--Section heading-->
    <!-- <h1 class="h1-responsive font-weight-bold text-center my-4">Contact us</h1> -->
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5 lead  my-4">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row justify-content-center">
        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>DTU Biosustain, Building 220</p>
                    <p>2800, Lyngby, Denmark</p>

                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+45 01 234 567 89</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>contact@rdms.biosustain.dtu.dk</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->
    </div>
</section>
<!--Section: Contact v.2-->
    <h1 class="team-title">Meet the team members</h1>
    <div class="contents">
        <div class="card">
            <div class="text">
                <img src="https://www.shareicon.net/data/512x512/2016/09/15/829452_user_512x512.png" alt="">
                <h3>Jane Doe</h3>
                <p>Software Developer</p>
            </div>
            <div class="links">
                <a target="_blank" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a target="_blank" href="#"><i class="fab fa-github"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="text">
                <img src="https://www.shareicon.net/data/512x512/2016/09/15/829452_user_512x512.png" alt="">
                <h3>John Doe</h3>
                <p>LIMS Administrator</p>
            </div>
            <div class="links">
                <a target="_blank" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a target="_blank" href="#"><i class="fab fa-github"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="text">
                <img src="https://www.shareicon.net/data/512x512/2016/09/15/829452_user_512x512.png" alt="">
                <h3>Jane Doe</h3>
                <p>Student | Coder</p>
               
            </div>
            <div class="links">
                <a target="_blank" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a target="_blank" href="#"><i class="fab fa-github"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="text">
                <img src="https://www.shareicon.net/data/512x512/2016/09/15/829452_user_512x512.png" alt="">
                <h3>Jane Doe</h3>
                <p>Student | Coder</p>
                
            </div>
            <div class="links">
                <a target="_blank" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a target="_blank" href="#"><i class="fab fa-github"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="text">
                <img src="https://www.shareicon.net/data/512x512/2016/09/15/829452_user_512x512.png" alt="">
                <h3>Jane Doe</h3>
                <p>Student | Coder</p>
            </div>
            <div class="links">
                <a target="_blank" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a target="_blank" href="#"><i class="fab fa-github"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="text">
                <img src="https://www.shareicon.net/data/512x512/2016/09/15/829452_user_512x512.png" alt="">
                <h3>Jane Doe</h3>
                <p>Student | Coder</p>
            </div>
            <div class="links">
                <a target="_blank" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a target="_blank" href="#"><i class="fab fa-github"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
