<div class="hero-image">
    <div class="container hero-text">
      <h1>Contact Us</h1>
      <p>The RDMS Team</p>
    </div>
</div>
<!--end of hero section-->
<div class="container">
    <!--Section: Contact v.2-->
<section class="mb-4 ">
    <p class="text-center w-responsive mx-auto mb-4 mt-5 fs-6 my-4">Do you have any questions? Please do not hesitate to contact us directly. Questions can be directed to the links below.</p>
    <p class="text-center w-responsive mx-auto mb-4  fs-6 ">Our team will get back to you as soon as possible.</p>
        <div class="row justify-content-center">
            <!--Grid column-->
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt fa-2x fa-color"></i>
                        <p class="fs-6">DTU Biosustain, Kemitorvet, 220, 228D</p>
                        <p class="fs-6">2800, Konges Lyngby, Denmark</p>
                    </li>
                         <li><i class="fas fa-envelope mt-4 fa-2x fa-color"></i>
                            <p><a href="mailto:cfb-rdm@biosustain.dtu.dk" class="mailto fs-5">cfb-rdm@biosustain.dtu.dk</a></p>
                        </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <div class="d-grid justify-content-center clearfix">
            <a href="https://biosustain-dev.atlassian.net/servicedesk/customer/portal/2/group/-1" target="_blank" rel="noopener"><button type="button" class="btn btn-lg btn-block my-3 mr-auto p-2 btn-link">General questions, bug report and feedback for LIMS and Benchling</button></a>
            <a href="https://biosustain-dev.atlassian.net/servicedesk/customer/portal/2/group/-1" target="_blank" rel="noopener"><button type="button" class="btn  btn-lg btn-block my-3 btn-link">Access requests, log-in or viewing issues</button></a>
            <a href="https://biosustain-dev.atlassian.net/wiki/spaces/LHG/overview" target="_blank" rel="noopener"><button type="button" class="btn  btn-lg btn-block my-3  btn-link">General tutorials for using Benchling</button></a>
            <a href="mailto:lemad@biosustain.dtu.dk"><button type="button" class="btn btn-lg btn-block my-3 btn-link">GDPR or RDM / FAIR policy related questions: send an email</button></a>
            <a href="mailto:jajoe@biosustain.dtu.dk, ingani@biosustain.dtu.dk" target="_blank"><button type="button" class="btn btn-lg btn-block my-3 btn-link">Nagoya, Ethics and Laboratory safety</button></a>
        </div>
        
</section>
<!--Section: Contact v.2-->
    <h1 class="team-title">Other Questions or Feedback? Contact:</h1>
    <div class="contents">
        <div class="card">
            <div class="text">
                <img src="https://orbit.dtu.dk/files-asset/275272885/78517_7dbaba57.jpg?w=320&f=webp"  alt="lea sommer photo">
                <h2>Lea Sommer</h2>
                <p>Research Data Manager</p>
            </div>
            <div class="links">
                <a target="_blank" href="mailto:lemad@biosustain.dtu.dk"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a target="_blank" href="#"><i class="fab fa-github"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="text">
                <img src="https://orbit.dtu.dk/files-asset/275328733/176537_5b0243a6.jpg?w=320&f=webp" alt="Ding He Photo">
                <h2>Ding He</h2>
                <p>Research Data Steward</p>
            </div>
            <div class="links">
                <a target="_blank" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a target="_blank" href="#"><i class="fab fa-github"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="text">
                <img src="https://orbit.dtu.dk/files-asset/275328860/176932_08ea746f.jpg?w=320&f=webp" alt="Ester Milesi Photo">
                <h2>Ester Milesi</h2>
                <p>LIMS Administrator</p>
               
            </div>
            <div class="links">
                <a target="_blank" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a target="_blank" href="#"><i class="fab fa-github"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
