<div class="hero-image">
  <div class="container hero-text">
    <h1>DTU's Guidelines and Policies</h1>
  </div>
</div>
<!--end of hero section-->
<div class="container">
  <!--Section: Contact v.2-->
  <section class="mb-4">
    <h1 class="text-center w-responsive mx-auto mb-4 mt-5 fw-2 my-4">
      Introduction to Data Management
    </h1>
    <p class="text-center w-responsive mx-auto mb-4 fs-6">
      Research data management is good practice in order to ensure high quality
      in research. Data management supports that your research is carried out
      efficiently, and that data is handled securely throughout the entire
      research project. A data managementplan ensures that your research meets
      the requirements of DTU's policies, from funding agencies and from
      publishers.
    </p>
    <p class="text-center w-responsive mx-auto mb-4 fs-6">
      At the DTU there is a lot of resources to be found that will give you
      general guidance on how to carry out research data management in
      compliance with DTU and other requirements. available to you though DTU
      inside.
    </p>
    <p class="text-center w-responsive mx-auto mb-4 fs-6">
      At CfB we have some local alterations to some of the more general
      guidelines. These can be found
      <a routerLink="/policies/cfb-guidelines">here</a>
    </p>

    <div class="d-grid justify-content-center clearfix">
      <a
        href="https://www.bibliotek.dtu.dk/english/servicemenu/publish/research-data/policy"
        target="_blank"
        rel="noopener"
        ><button
          type="button"
          class="btn btn-lg btn-block my-3 mr-auto p-2 btn-link"
        >
          DTU Policy of the Rentention of Primary Materials and Data and Code of
          Conduct
        </button></a
      >
      <a
        href="https://biosustain-dev.atlassian.net/servicedesk/customer/portal/2/group/-1"
        target="_blank"
        rel="noopener"
        ><button type="button" class="btn btn-lg btn-block my-3 btn-link">
          General Research Data and Data Management at DTU (Sign In)
        </button></a
      >
      <a
        href="https://www.bibliotek.dtu.dk/servicemenu/publicer/forskningsdata/guide"
        target="_blank"
        rel="noopener"
        ><button type="button" class="btn btn-lg btn-block my-3 btn-link">
          Guide to Data Management at DTU (DTU Bibliotek)
        </button></a
      >
      <a
        href="https://biosustain-dev.atlassian.net/wiki/spaces/LHG/overview"
        target="_blank"
        rel="noopener"
        ><button type="button" class="btn btn-lg btn-block my-3 btn-link">
          FAIR Data at DTU (Sign In)
        </button></a
      >
      <a
        href="https://www.bibliotek.dtu.dk/english/servicemenu/publish/research-data/policy/fair"
        target="_blank"
        rel="noopener"
        ><button type="button" class="btn btn-lg btn-block my-3 btn-link">
          The FAIR Principles (DTU Library)
        </button></a
      >
      <a href="mailto:lemad@biosustain.dtu.dk"
        ><button type="button" class="btn btn-lg btn-block my-3 btn-link">
          GDPR or RDM / FAIR policy related questions: send an email
        </button></a
      >
      <a
        href="mailto:jajoe@biosustain.dtu.dk, ingani@biosustain.dtu.dk"
        target="_blank"
        ><button type="button" class="btn btn-lg btn-block my-3 btn-link">
          Nagoya, Ethics and Laboratory safety
        </button></a
      >
    </div>
  </section>
</div>
