.title{
    text-align: center;
}
mat-toolbar{
    /* height: 20px; */
   display:initial;
   position: sticky;

    /* background: #0c8caa; */
}

mat-icon{
    /* color:#0c8caa ; */
    color: rgb(47, 62, 234);
    cursor: pointer;
    /* font-size:2em; */
}
mat-sidenav-container{
    /* height:calc(205vh-115vh); */
    height:100vh;

}
mat-sidenav{
    width: auto;
    background:  rgb(47, 62, 234);
}
.mat-sidenav .mat-list .mat-list-item:hover {
    background-color: #85d2e3;
    color: #000;
    border-radius: 5px;
}

/* .mat-sidenav .mat-list .mat-icon :hover {
    background-color: #85d2e3;
    color: #000;
} */
.text{
    color: rgb(47, 62, 234);
    text-align: center;
    /* font-weight: 2em; */
}
.text span a{
    text-decoration: none;
    color: rgb(47, 62, 234);
}
.mat-list .mat-list-item a{
    text-decoration: none;
    color: #fff;
    margin: 5px;
    padding:5px;
}
.mat-list .mat-list-item .mat-icon {
    color:#fff;
}

.home-logo{
    display:flex;
    margin-top: 5px;
}
/* .routerLink{
margin-right: 10px;
} */

.dtu_link{
    background: #990000;
    color:#fff;
}

 span img{ 
    padding-top:25px;
    /* height: 60px; */
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}

.dtu_logo_text{
    align-items: center;
}

.side_texts{
    display: block;
    margin-top: 30px;
    padding: 25px;
}

.side_texts .line_1{
    margin-top: 8px;
    color: rgb(47, 62, 234);
}
.side_texts .line_2{
    font-size: 1.4em;
    margin-top:-14px;
    color: rgb(3, 15, 79);
    /* margin-bottom: 10px; */
}
.dtu_logo{
    margin-bottom: 20px;
}

/* Media queries for different screen sizes */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    span img{ 
        padding-top:25px;
        margin-right: 6px;
        align-items: center;
        justify-content: center;
    }
    .side_texts .line_1{
        margin-top: 6px;
        font-size: 14px;
    }
    .side_texts .line_2{
        font-size: .8em;
        margin-top:-14px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}