<div class="hero-image">
    <div class="container hero-text">
      <h1>Welcome to the Research Data Management System</h1>
      <p>Developed at DTU Biosustain</p>
    </div>
</div>
<!-- Flip card markup -->
<div class="container mx-auto text-center mt-3 overflow-hidden">
    <div class="title">
         <h1>Navigation Panel</h1>
        <h3>Hover over cards to see and navigate contents</h3>
    </div> 
    <div class="row gy-5">
        <div class="flip-card col">
            <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1 class="card_title">LIMS</h1>
                <div class="card_icon"><mat-icon>device_hub</mat-icon></div>
                <p class="card_apply">Explore the LIMS Application</p>
            </div>
            <div class="flip-card-back">
                <h3>More of LIMS </h3> 
                <p class="card_apply" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, quidem.</p>
                <p class="card_apply">
                    <a class="card_link"  href="https://lims.biosustain.dtu.dk" target="_blank">Link to LIMS Extensions<i class="fas fa-arrow-right"></i></a>
                  </p> 
            </div>
            </div>
        </div>
        <div class="flip-card col">
            <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1 class="card_title">Software Catalog</h1>
                <div class="card_icon"><mat-icon>ballot</mat-icon></div>
                <p class="card_apply">Explore the array of Software Catalog</p>
            </div>
            <div class="flip-card-back">
                <h3>Software Catalog</h3> 
                <p class="card_apply" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, quidem.</p>
                <p class="card_apply">
                    <a class="card_link"  href="#" target="_blank">Link to Software Catalog<i class="fas fa-arrow-right"></i></a>
                  </p> 
            </div>
            </div>
        </div>
        <div class="flip-card col">
            <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1 class="card_title">Data Catalog</h1>
                <div class="card_icon"><mat-icon>folder</mat-icon></div>
                <p class="card_apply">Explore the Data Catalog</p>
            </div>
            <div class="flip-card-back">
                <h3>More of Data Catalog</h3> 
                <p class="card_apply" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, quidem.</p>
                <p class="card_apply">
                    <a class="card_link"  href="#" target="_blank">Link to Data Catalog<i class="fas fa-arrow-right"></i></a>
                  </p> 
            </div>
            </div>
        </div>
        <div class="flip-card col">
            <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1 class="card_title">Policies</h1>
                <div class="card_icon"><mat-icon>folder_open</mat-icon></div>
                <p class="card_apply">Internal and External Policies</p>
            </div>
            <div class="flip-card-back">
                <h3>See Policies</h3> 
                <!-- <p class="card_apply" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, quidem.</p> -->
                <p class="card_apply">
                    <a class="card_link"  href="#" target="_blank">DTU Inside<i class="fas fa-arrow-right"></i></a>
                  </p> <br>
                  <p class="card_apply">
                    <a class="card_link"  href="#" target="_blank">External<i class="fas fa-arrow-right"></i></a>
                  </p> 
            </div>
            </div>
        </div>
        <div class="flip-card col">
            <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1 class="card_title">Dashboard</h1>
                <div class="card_icon"><mat-icon>dashboard</mat-icon></div>
                <p class="card_apply">Explore Research Data</p>
            </div>
            <div class="flip-card-back">
                <h3>Summary of  Research Data</h3> 
                <p class="card_apply" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, quidem.</p>
                <p class="card_apply">
                    <a class="card_link"  href="#" target="_blank">Link to the Dashboard<i class="fas fa-arrow-right"></i></a>
                  </p> 
            </div>
            </div>
        </div>
        <div class="flip-card col">
            <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1 class="card_title">Internal Databases</h1>
                <div class="card_icon"><mat-icon>storage</mat-icon></div>
                <p class="card_apply">Explore Internal Databases</p>
            </div>
            <div class="flip-card-back">
                <h3>Internal Databases</h3> 
                <p class="card_apply" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, quidem.</p>
                <p class="card_apply">
                    <a class="card_link"  href="#" target="_blank">Link to Internal Databases<i class="fas fa-arrow-right"></i></a>
                  </p> 
            </div>
            </div>
        </div>
        <div class="flip-card col">
            <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1 class="card_title">Meet the Team</h1>
                <div class="card_icon"><mat-icon>group</mat-icon></div>
                <p class="card_apply">Team members of RDMS</p>
            </div>
            <div class="flip-card-back">
                <h3>RDMS Team Members</h3> 
                <p class="card_apply" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, quidem.</p>
                <p class="card_apply">
                    <a class="card_link"  href="#" target="_blank">Profile of Team Members<i class="fas fa-arrow-right"></i></a>
                  </p> 
            </div>
            </div>
        </div>
        <div class="flip-card col">
            <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1 class="card_title">Contact Us</h1>
                <div class="card_icon"><mat-icon>mail</mat-icon></div>
                <p class="card_apply">Explore ways to contact us</p>
            </div>
            <div class="flip-card-back">
                <h3>More of Benchling</h3> 
                <p class="card_apply" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, quidem.</p>
                <p class="card_apply">
                    <a class="card_link"  href="#" target="_blank">Contact Us<i class="fas fa-arrow-right"></i></a>
                  </p> 
            </div>
            </div>
        </div>
    </div>      
</div>
