<div class="hero-image">
  <div class="container hero-text">
    <h1>{{ title }}</h1>
    <!-- <p>Developed at DTU Biosustain</p> -->
  </div>
</div>
<div class="container">
  <div class="intro">
    <p>
      Data and primary materials should be retained, stored and managed in a
      clear and accurate form that allows the result to be assessed, the
      procedures to be retraced and – when relevant and applicable – the
      research to be reproduced.
    </p>
  </div>
  <!-- card 1 content -->
  <mat-card class="policy-card">
    <mat-card-title>
      <a
        href="https://ufm.dk/en/publications/2014/the-danish-code-of-conduct-for-research-integrity"
        target="_blank"
        rel="noopener noreferrer"
        >Danish Code of Conduct for Research Integrity</a
      ></mat-card-title
    >
    <mat-card-content>
      <p>Summary:</p>
      <p>{{ longText }}</p>
    </mat-card-content>
    <p>
      A summary can be found
      <button mat-button>
        <a
          href="https://ufm.dk/en/publications/2014/files-2014-1/summary-the-danish-code-of-conduct-for-research-integrity.pdf"
          target="_blank"
          rel="noopener noreferrer"
          >here</a
        >
      </button>
    </p>
  </mat-card>
  <!-- Card 2 content -->
  <mat-card class="policy-card">
    <mat-card-title
      ><a
        href="https://www.deic.dk/en/data-management/national-cooperation/National-strategy-for-FAIR-research-data-management"
        target="_blank"
        rel="noopener noreferrer"
        >National Strategy for FAIR research data management</a
      ></mat-card-title
    >
    <mat-card-content>
      <p>
        The strategy targets research institutions and research funding
        foundations. It defines a number of principles and associated areas of
        action that can strengthen the dissemination and financing of good data
        management practices, resulting in more
        <a
          href="https://www.go-fair.org/fair-principles/"
          target="_blank"
          rel="noopener noreferrer"
          class="inner-link"
          >FAIR research data</a
        >
        (Findable, Accessible, Interoperable, Reusable) in Denmark.The strategy
        is part of the implementation of the
        <a
          href="https://eur-lex.europa.eu/legal-content/DA/TXT/PDF/?uri=CELEX:32019L1024"
          target="_blank"
          rel="noopener noreferrer"
          class="inner-link"
          >EU directive on open data</a
        >
        and the Danish implementation of this in the PSI Act. It must thus
        contribute to meeting the expectations of research and society for
        increasing accessibility of publicly funded research.
      </p>
    </mat-card-content>
    <p>
      Download the strategy
      <button mat-button>
        <a
          href="https://ufm.dk/en/publications/2014/files-2014-1/summary-the-danish-code-of-conduct-for-research-integrity.pdf"
          target="_blank"
          rel="noopener noreferrer"
          >here</a
        >
      </button>
    </p>
  </mat-card>
  <!-- Card 3 content -->
  <mat-card class="policy-card">
    <mat-card-title
      ><a
        href="https://ufm.dk/en/research-and-innovation/cooperation-between-research-and-innovation/open-access/Publications/denmarks-national-strategy-for-open-access"
        target="_blank"
        rel="noopener noreferrer"
        >Denmark’s National Strategy for Open Access</a
      ></mat-card-title
    >
    <mat-card-content>
      <p>{{ longText2 }}</p>
    </mat-card-content>
    <p>
      Two central principles form the basis for the strategy: read and download
      full text
      <button mat-button>
        <a
          href="https://ufm.dk/en/research-and-innovation/cooperation-between-research-and-innovation/open-access/Publications/denmarks-national-strategy-for-open-access/national-strategy-for-open-access-english.pdf"
          target="_blank"
          rel="noopener noreferrer"
          >here</a
        >
      </button>
    </p>
    <div>
      <ul>
        <li>
          The implementation of the Open Access is to support the possibility
          for Danish researchers to continue to publish in the most recognised
          national and international journals, and also the possibility to
          publish
        </li>
        <li>
          For the sake of research and society, it is stressed that it is
          crucial that the aggregate public expenditure to research publications
          is not increased significantly because of the implementation of Open
          Access
        </li>
      </ul>
    </div>
  </mat-card>
  <!-- Card 4 content -->
</div>
