<div class="hero-image">
    <div class="container hero-text">
      <h1>{{title}}</h1>
      <!-- <p>Developed at DTU Biosustain</p> -->
    </div>
</div>
<div class="container">
  <div class="intro">
    <p>CfB’s RDM guidelines and policies are based on the DTU 
        guidelines and policies for RDM. The difference lies 
        in the specific considerations we have as a Life 
        Science/Biotech center as well as the unique RDM infrastructure 
        we have available. </p>
  </div>
  <mat-card class="policy-card">
    <mat-card-title>Introduction to Research Data Management at CfB</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    <mat-card-content>
      <p>Research data management (RDM) is much more than 
        simply storing your data in a public repository after 
        publication. Research data management is about retaining 
        and increasing the value of data as it is used, stored and 
        reused appropriately; It is about the publication of a 
        plethora of different and important scientific insights,
         through collaborations and knowledge sharing.</p>
      <!-- <p>{{longText}}</p> -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/policies/cfb_guidelines">Read Document</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="policy-card">
    <mat-card-title>Policy of the Retention of Primary Materials and Data at the CfB</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    <mat-card-content>
      <!-- <p>This card indeterminates progress bar.</p> -->
      <p>Data and primary materials should be retained, 
        stored and managed in a clear and accurate form that
         allows the result to be assessed, the procedures to 
         be retraced adn -when relevant and applicable- the 
         research to be reproduced. -quote from: The Danish Code
        of Conduct for Research Integrity, Data Management</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Read Document</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="policy-card">
    <mat-card-title>CfB Retention of Primary Materials and Data and the IT Infrastructure</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    <mat-card-content>
      <!-- <p>This card indeterminates progress bar.</p> -->
      <p>The following description of retention of primary 
        materials and data as well as the IT infrastructure 
        implemented at the CfB is based on the proper and continuous 
        use of the CfB implementation of <span><a href="https://biosustain.benchling.com/signin/choose-provider" target="_blank" rel="noopener noreferrer"> Benchling</a></span>
        and on-site 
        facilities for analytical chemistry and next generation sequencing.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Read Document</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="policy-card">
    <mat-card-title>CfB Policy on Minimum Metadata Requirements</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    <mat-card-content>
      <!-- <p>This card indeterminates progress bar.</p> -->
      <p>To achieve the optimal conditions for reuse of data
         metadata and data should be well-described so that 
         they can be replicated and/or combined in different settings 
         Please visit the <span><a href="https://www.go-fair.org/fair-principles/" target="_blank" rel="noopener noreferrer">gofair.org</a></span> webpage for more information</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Read Document</button>
    </mat-card-actions>
  </mat-card>
  
</div>
